spring:
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
      bindings:
        input:
          destination: greetings
          content-type: text/plain
        output:
          destination: greetings
          content-type: text/plain