<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>添加用户</title>
</head>

<body>
<h2>添加用户</h2>
<form action="/user/save" method="POST">
    <div>
        <label>用户名称:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>年龄:</label>
        <input type="text" name="age">
    </div>
    <div>
        <label>邮箱:</label>
        <input type="text" name="email">
    </div>
    <div>
        <label>手机:</label>
        <input type="text" name="mobile">
    </div>
    <div>
        <button type="submit">保存</button>
    </div>
</form>
</body>

</html>