<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TeacherDao">
       <resultMap type="com.entity.Teacher" id="teacherResult">
              <result property="tid" column="tid"/>
              <result property="tpwd" column="tpwd"/>
              <result property="tname" column="tname"/>
              <result property="tgender" column="tgender"/>
              <association property="sj" javaType="com.entity.Subject">
	              <result property="suid" column="suid"/>
                  <result property="suname" column="suname"/>
              </association>
              <association property="cl" javaType="com.entity.Banji">
	              <result property="cid" column="cid"/>
	              <result property="num" column="num"/>
              </association>
       </resultMap>
       
          <select id="findAll" resultMap="teacherResult" parameterType="map">
              <![CDATA[
                       SELECT a.*
					   FROM (
						     SELECT t.*,c.num,s.suname,ROWNUM r
						     FROM teacher t,CLASS c,subject s
						     WHERE t.cid=c.cid
						     AND t.suid=s.suid
						) a
                       where r> (#{index}-1)*#{size} and r< #{index}*#{size}
              ]]>
          </select>
          <select id="count" resultType="java.lang.Integer">
              SELECT COUNT(1) FROM teacher
          </select>
          <select id="delTeacher" parameterType="int">
          	  delete from teacher where tid=#{0}
          </select>
          <insert id="addTeacher" parameterType="com.entity.Teacher">
              insert into teacher values(seq_teacher.nextval,#{tpwd},#{tname},#{tgender},#{sj.suid},#{cl.cid})
          </insert>
          <select id="findTeacher" resultMap="teacherResult" parameterType="String">
						     SELECT t.*,c.num,s.suname
						     FROM teacher t,CLASS c,subject s
						     WHERE t.cid=c.cid
						     AND t.suid=s.suid
                             and t.tname like '%'||#{0}||'%' 
          </select>
          <select id="findByTid" resultMap="teacherResult" parameterType="int">
          			select * from teacher where tid=#{0}
          </select>
          <update id="updateTeacher" parameterType="com.entity.Teacher">
          			update teacher set tpwd=#{tpwd},tname=#{tname},tgender=#{tgender},suid=#{sj.suid},cid=#{cl.cid} where tid=#{tid}
          </update>
          <select id="login" resultMap="teacherResult" parameterType="map">
          			select * from teacher where tid=#{0} and tpwd=#{1}
          </select>
          <update id="updateTpwd" parameterType="com.entity.Teacher">
          		update teacher set tpwd=#{tpwd} where tid=#{tid}
          </update>
</mapper>
