<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <img class="visible-middle-display-screen f-img-bg" src="/image/log.jpg"/>
    <form action="/login" method="post" class="f-bg" >
        <!-- 手机端显示 -->
        <div class="visible-middle-screen">
            <div class="header">
                <img src="/image/header.jpg"/>
                <div>
                    <img src="/image/log0.gif"/>
                </div>
                <span>登录</span>
            </div>
        </div>

        <!-- 电脑小屏显示 -->
        <div class="visible-middle-display-screen header">
            <img src="/image/header.jpg"/>
            <span>登录注册demo</span>
        </div>
        <span class="f-info" th:text="${message}"></span>
        <div class="f-form-input">
            <label class="visible-max-middle-screen">用户名:</label>
            <input th:value="${username}" name="username" class="f-input" type="text" placeholder="用户名" />
            <label class="visible-max-middle-screen"><div>
                    <span style="letter-spacing: 1em;">密</span>码:
            </div></label>
            <input class="f-input" name="password" type="password" placeholder="密码"/>
        </div>
        <div class="f-form-valid">
            <input type="text" placeholder="验证码"/>
            <img src="/image/log.jpg"/>
        </div>
        <div class="f-form-other">
            <a>忘记密码?</a>
            <a>立即注册</a>
        </div>
        <div class="f-form-button">
            <button>登录</button>
        </div>
        <div class="f-footer visible-middle-screen">
            <a>permission manager system</a><a>QQ:1005767007</a>
        </div>
    </form>
    <div class="f-boty-footer visible-middle-display-screen ">
            <a>permission manager system</a><a>QQ:1005767007</a>
    </div>
</body>
</html>