<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="margin-top: 30px">
    <h3 style="text-align: center">图书列表</h3>
    <table  class="table  table-hover table-striped">
        <thead>
        <tr>
            <th>
                图书封面
            </th>
            <th>
                图书名称
            </th>
            <th>
                图书作者
            </th>

            <th>
                图书编号
            </th>
            <th>
                图书价格
            </th>
            <th>分类</th>
            <th>出版时间</th>
            <th>id</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${pages}" >
            <td>
                <img style="width: 100px;" th:src="@{{path}(path=${book.getImgurl()})}" alt="">
            </td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.type}"></td>
            <td th:text="${book.publishDate}"></td>
            <td th:text="${book.id}"></td>
            <td><a href="javascript:;" th:onclick="|javascript:delBook(${book.id})|"><button type="button" class="btn btn-outline-primary">删除</button></a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="|?pageNum=${pages.number-1}|">上一页</a>
    <a th:href="|?pageNum=${pages.number+1}|">下一页</a>
</div>

</body>
</html>