<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<div class="login-bg">
    <div class="box">
        <div class="card">
            <div class="header">
                <div class="header-portrait">
                </div>
            </div>
            <form action="/userlogin" method="post">
                <div class="former">
                    <div class="inner">
                        <!-- <label for="username">账号：</label> -->
                        <input id="username" type="text" name="username" placeholder="请输入账号">
                        <span class="icon icon-user"></span>
                    </div>
                    <div class="inner">
                        <!-- <label for="password">密码：</label> -->
                        <input id="password" type="password" name="password" placeholder="请输入密码">
                        <span class="icon icon-password"></span>
                    </div>
                    <div class="inner">
                        <button type="submit">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>