.form-filter div {
  margin: 100px auto;
  text-align: center;
}
.form-filter input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  margin-top: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px solid rgb(35, 163, 223);
  background-color: transparent;
}
.form-filter button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: crimson;
  border: none;
  color: aliceblue;
}
