body{
    margin: 0px;
    padding: 0px;
    background-color: #1ABC9C;
}
header{
    text-align: center;
}
h1{
    font-size: 50px;
    font-family:Arial,Helvetica,sans-serif;
    color: white;
}
main{
    width: 600px;
    height: 400px;
    /*border: 1px solid red;*/
    margin: 200px auto;
    border-radius: 10px;
    background-color: azure;
    text-align: center;
    padding-top: 20px;
}
.form div{
    margin-top: 50px;
}

.form input{
    border: 1px #aaa solid;
    border-radius: 4px;
    width: 440px;
    height: 52px;
    line-height: 1.2;
    font-size: 20px;
    background-color: white;
    padding-left: 20px;
}
button{
    border: 1px #aaa solid;
    border-radius: 4px;
    width: 460px;
    height: 52px;
    line-height: 1.2;
    color: white;
    font-size: 20px;
    background-color: #1ABC9C;
}
